/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../../../deps/phoenix_live_view/assets/css/live_view.css";


table { border-collapse: collapse; }
colgroup, tbody { border: solid medium; }

input {
  font-size: inherit;
  text-align: center;
  width: 5em;
  height: 5em;
  margin: 3px 0 0 0;
  padding: 0;
}

input.innerNE {
    border-top: solid black;
    border-right: solid black;
}

input.innerNW {
    border-top: solid black;
    border-left: solid black;
}

input.innerSE {
    border-bottom: solid black;
    border-right: solid black;
}

input.innerSW {
    border-bottom: solid black;
    border-left: solid black;
}

input.empty {
  background: white;
}

input.question {
  font-weight: bold;
  color: black;
  background: #ffff66;
}

input.answer {
  background: #ffffcc;
}

p.ok {
  font-weight: bold;
  color: green;
}

p.error {
  font-weight: bold;
  color: red;
}
